target

node_modules
node

.project
.classpath
.settings

*.log
.*.swp
*/target
*/.project
*/.classpath
*/.settings
*/*/target
*/*/.project
*/*/.classpath
*/*/.settings
**/META-INF/MANIFEST.MF
*.iml

.idea
/bin/
.DS_Store

mvnw
mvnw.cmd
HELP.md
